@font-face {
  font-family: "Cocogoose Pro Letterpress";
  src: url("fonts/cocogoose-pro.letterpress.ttf");
}

p,
h1,
h2,
h3,
h4,
h5,
a {
  font-family: "lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-red: #ec5242;
  --primary-black: #272a31;
  --primary-grey: #d3d3d3;
}

.header-main {
  background-image: url(./assets/mobile_intro_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 480px;
}

.header-video {
  display: none;
}

/* start mobile-menu */
header-main {
  display: block;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: -10px;
  
}

.mob-menu-links {
  position: fixed;
  background-color: rgba(236, 82, 66, 0.5);
  backdrop-filter: blur(60px);
  display: none;
  align-items: left;
  gap: 30px;
  flex-direction: column;
  list-style: none;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 11;
  padding: 40px;
}

.top-nav-item img {
  width: 20px;
  height: 20px;
}


.logo {
  height: 80px;
  width: 145px;
  margin: 10px;
}

.mob-menu-links a {
  text-decoration: none;
  color: var(--primary-grey);
  font-family: "lato", sans-serif;
  font-size: 22px;
}

.close-link {
  position: absolute;
  left: 33px;
  top: 19px;
}

.nav-bar-icon {
  width: 24px;
  height: 20px;
  margin-top: 25px;
  margin-left: -20px;
}

/*  ends mobile menu */
.header-main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hamburger {
  color: var(--primary-black);
  padding: 30px 40px;
}

.hamburger img {
  width: 24px;
  height: 20px;
}

.header-main-salutation {
  color: var(--primary-red);
  font-size: 24px;
  padding: 28px 20px 5px 20px;
}

.header-main-title {
  font-size: 28px;
  font-weight: bold;
  padding: 0 20px;
  -webkit-background-clip: text;
  background-image: url(assets/bg_title.jfif);
  color: transparent;
}

.header-main-description {
  color: var(--primary-black);
  font-size: 14px;
  border: 2px solid white;
  padding: 10px;
  line-height: 23px;
  margin: 20px 10px;
  background-color: #d3d3d330;
  position: relative;
  z-index: 1;
}

.header-date {
  color: var(--primary-black);
  font-size: 22px;
  padding-left: 18px;
}

.header-main-subdescription {
  color: var(--primary-black);
  padding-left: 18px;
  padding-top: 8px;
  font-size: 16px;
}

.bottom-nav-bar,
.top-nav-bar {
  display: none;
}

.program {
  background-image: url(assets/darkbg.jpeg);
  display: flex;
  flex-direction: column;
}

.program-title {
  color: #ffffffd9;
  padding: 49px;
  text-align: center;
  font-size: 25px;
}

.program-items {
  display: flex;
  flex-direction: row;
  margin: 5px 8px;
  background-color: rgba(102, 97, 97, 0.5);
  padding: 10px 20px;
}

.program-items img {
  max-height: 45px;
  margin-top: 12px;
}

.program-items h4 {
  padding: 30px 13px;
  font-size: 15px;
  color: var(--primary-red);
}

.program-items p {
  margin: 6px;
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-size: 13px;
}

.program-btn {
  padding: 30px;
  background-color: var(--primary-red);
  margin: 30px 40px;
  color: #fff;
}

.click-to-see {
  display: none;
}

.program-speakers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.program-speakers-title {
  margin: 30px auto;
  font-size: 24px;
}

.program-speaker-title-underline {
  width: 54px;
  color: var(--primary-red);
  margin-top: -15px;
}

.program-speakers-main {
  display: flex;
  flex-direction: row;
  margin: 20px 15px;
  background-image: url(assets/speaker_bg_img.png);
  background-position: top left;
  background-size: 100px;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out;
}

.program-speakers-main:hover {
  transform: scale(1.1);
}

.program-speakers-main img {
  min-width: 125px;
  padding-top: 20px;
  padding-left: 16px;
  padding-bottom: 45px;
  width: 185px;
  height: 180px;
}

.program-speakers-info {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.program-speakers-job {
  font-size: 15px;
  color: var(--primary-red);
  margin: 5px 1px 20px 0;
}

.program-speakers-desc {
  font-size: 14px;
  font-family: "lato", sans-serif;
}

.program-speaker-underline {
  color: var(--primary-grey);
  width: 28px;
  margin: -8px 0 15px 0;
}

.program-speaker-btn {
  background-color: white;
  border: 0.1px solid rgb(61, 63, 67);
  width: 310px;
  margin-top: 30px;
  margin-bottom: 35px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 12px;
}

.program-speaker-btn img {
  padding-left: 15px;
}

.our-partner {
  display: none;
}

.footer {
  display: none;
}

@media only screen and (min-width: 768px) {
  .mobile-head {
    display: none;
  }

  .navbar {
    width: 100%;
  }

  .hamburger {
    display: none;
  }

  .top-nav-bar {
    background-color: var(--primary-black);
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 13px;
    padding-right: 80px;
    padding-top: 10px;
  }

  #ai {
    border: 3px solid orangered;
    padding: 5px;
    margin-bottom: 24px;
  }

  .bottom-nav-bar {
    background-color: white;
    height: 84px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .top-nav-item {
    font-size: 15px;
    color: #fff;
    font-weight: normal;
    font-family: Poppins, sans-serif;
    margin: 10px;
  }

  a {
    text-decoration: none;
  }

  .nav-bar-logo {
    height: 78px;
    width: 150px;
    margin: 120px;
    border: 4px solid #ec5242;
  }

  .nav-bar-links {
    display: flex;
    flex-direction: row;
    gap: 18px;
    padding-right: 80px;
    padding-top: 30px;
  }

  .bottom-nav-link {
    color: var(--primary-black);
    font-size: 19px;
  }

  .header-main {
    background-image: url(assets/main_big.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .header-main-salutation {
    padding-top: 90px;
    padding-left: 150px;
    font-size: 40px;
  }

  .header-main-title {
    padding-left: 150px;
    font-size: 60px;
    width: 803px;
  }

  .header-main-description {
    margin-left: 150px;
    width: 600px;
    padding: 30px 30px;
    font-size: 18px;

  }

  .header-date {
    margin-left: 135px;
    font-size: 30px;
  }

  .header-main-subdescription {
    margin-left: 135px;
    margin-bottom: 20px;
    margin-bottom: 110px;
  }

  .header-main {
    position: relative;
  }

  .header-video {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
    /* Adjust the blur intensity as needed */
    opacity: 0.8;
    /* Adjust the opacity of the blur effect as needed */
  }

  .header-main-content {
    position: relative;
    z-index: 1;
  }

  .program-part {
    display: flex;
    flex-direction: row;
    gap: 0;
    margin-left: 100px;
    margin-right: 100px;
  }

  .program-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2px 0 0 3px;
  }

  .program-items:hover {
    border: 1px solid white;
  }

  .program-items p {
    margin-top: -20px;
  }

  .program-btn {
    display: none;
  }

  .click-to-see {
    display: block;
    color: #fff;
    margin-top: 55px;
    font-size: 16px;
    text-decoration: underline;
    font-weight: normal;
    font-family: "lato", sans-serif;
    text-align: center;
    margin-bottom: 60px;
  }

  .program-speakers {
    background-color: #d3d3d3;
  }

  .program-speaker-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px 0 20px;
    justify-content: center;
    align-content: center;
    width: 75%;
    min-width: 768px;
  }

  .program-speakers-underline {
    background-color: rgb(250, 54, 6);
    height: 1px;
    width: 45px;
    margin-top: -10px;
    margin-bottom: 15px;
  }

  .program-speaker-btn {
    display: none;
  }

  .our-partner {
    background-color: var(--primary-black);
    display: block;
  }

  .our-partner-part {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 60px;
  }

  .our-partner-title {
    text-align: center;
    padding-top: 30px;
    color: white;
  }

  .our-partner-underline {
    background-color: rgb(250, 54, 6);
    height: 1px;
    width: 25px;
    margin-top: 15px;
    margin-bottom: -10px;
    margin-left: 49%;
  }

  .our-partner-logo {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 100px;
    gap: 90px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
  }

  .our-partner-logo img {
    width: 140px;
    height: 90px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #d3d3d3;
  }

  .footer-section {
    background-color: var(--primary-grey);
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 200px;
    padding-bottom: 30px;
  }

  .footer-image {
    width: 220px;
    height: 100px;
    margin: 14px 0;
    border-radius: 16px;
    margin-top: 50px;
    margin-right: 0;
  }

  .footer-description {
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    font-family: "lato", sans-serif;
    margin-left: 50px;
    width: 42%;
  }
}